.title {
    color: darkcyan;
    /* border-color: white;
    border: 5px 5px;
    border-width: 5px;
    border-color: white;
    border-style: dotted;
    border-radius: 40px; */
    padding: 20px 40px;
    font-family: 'Rock Salt', cursive;
    font-size: 3.2em;
}

h6 {
  font-family: 'Rock Salt', cursive;
}

.spanclass {
  font-family: 'Rock Salt', cursive;
  position: relative;
  width: auto;
  height: auto;
  padding: 20px 40px 20px 40px;
  line-height: normal;

}


#social-icons {
  font-size: 35px;
  padding: 10px 20px;


}


.profilepic {

border-radius: 50px;
display: block;
margin-right: auto;
margin-left: auto;
position: relative;
height: auto;
width: auto;


}

.aboutme {
  font-family: 'Rock Salt', cursive;
  font-size: 0.75em;
  position: relative;
  height: auto;
  width: auto;

}


.subtitle {
  font-family: 'Rock Salt', cursive;
  background-color: darkcyan;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 35px;
  padding: 10px 20px;
}

#list {
  line-height: 30px;
}



a:link {
  color: white;
}

a:enabled {
  color: white;
}
a:hover {
  color: darkcyan;
}

.aboutme:hover {
  color: darkcyan;
}

.centerobj {
  positon: relative;
  width: auto;
  height: auto;
  line-height: normal;
  border: 20px;
  padding: 10px;
}

.sr-only {
  color: white;
  font-family: 'Rock Salt', cursive;
}
